<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingtechfin.wxthirdparty.mapper.WxAutoResponseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingtechfin.wxthirdparty.entity.WxAutoResponse">
        <id column="id" property="id" />
        <result column="authorizerAppid" property="authorizerAppid" />
        <result column="msgType" property="msgType" />
        <result column="msgKey" property="msgKey" />
        <result column="responseMsg" property="responseMsg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, authorizerAppid, msgType, msgKey, responseMsg
    </sql>

</mapper>
