<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingtechfin.wxthirdparty.mapper.WxThirdpartyInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingtechfin.wxthirdparty.entity.WxThirdpartyInfo">
        <id column="id" property="id" />
        <result column="appid" property="appid" />
        <result column="appsecret" property="appsecret" />
        <result column="token" property="token" />
        <result column="aesKey" property="aesKey" />
        <result column="redirectUrl" property="redirectUrl" />
        <result column="verifyTicket" property="verifyTicket" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appid, appsecret, token, aesKey, redirectUrl, verifyTicket
    </sql>

</mapper>
