<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingtechfin.wxthirdparty.mapper.WxUploadMediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingtechfin.wxthirdparty.entity.WxUploadMedia">
        <id column="id" property="id" />
        <result column="authorizerAppid" property="authorizerAppid" />
        <result column="localName" property="localName" />
        <result column="serviceName" property="serviceName" />
        <result column="mediaType" property="mediaType" />
        <result column="mediaId" property="mediaId" />
        <result column="createTime" property="createTime" />
        <result column="wxUrl" property="wxUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, authorizerAppid, localName, serviceName, type, mediaId, createTime, wxUrl
    </sql>

</mapper>
